Language: Cpp
BasedOnStyle: LLVM
Standard: c++20
UseTab: ForIndentation
NamespaceIndentation: All
TabWidth: 1
IndentWidth: 1
PointerAlignment: Left
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false
ColumnLimit: 0
AccessModifierOffset: -1
FixNamespaceComments: false
BraceWrapping:
  AfterFunction: true
  BeforeElse: true
  AfterNamespace: true
  AfterStruct: true